@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  min-height: 100vh;
  background-color: hsl(233deg, 47%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
}

article {
  background-color: hsl(244deg, 38%, 16%);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 20.375rem;
  min-height: 48.75rem;
  margin: 0.625rem 0.625rem 0 0.625rem;
  box-shadow: 0 1.25rem 0.3125rem 0.625rem hsla(0deg, 0%, 0%, 0.05);
}
article .stats-image {
  background-color: hsl(277deg, 64%, 61%);
}
article .stats-image picture {
  display: flex;
}
article .stats-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 15rem;
  mix-blend-mode: multiply;
  opacity: 0.8;
}
article .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding: 1.875rem;
}
article .card-info h1 {
  font-size: 1.75rem;
}
article .card-info h1 mark {
  background: none;
  color: hsl(277deg, 64%, 61%);
}
article .card-info .card-discription {
  line-height: 1.6rem;
  color: hsla(0deg, 0%, 100%, 0.75);
}
article .card-info .card-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
article .card-info .card-stats > div {
  margin: 1rem 0;
}
article .card-info .card-stats p {
  margin-top: 0.32rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: hsla(0deg, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
}
article .card-info > * {
  text-align: center;
}

footer {
  padding: 0.625rem;
  text-align: center;
  font-size: 0.8rem;
}
footer p {
  color: hsla(0deg, 0%, 100%, 0.6);
  margin-bottom: 0.22rem;
}
footer i {
  font-size: 0.9rem;
}
footer a {
  color: hsla(0deg, 0%, 100%, 0.6);
}
footer a:hover {
  color: hsl(277deg, 64%, 61%);
  transition: 700ms;
}

@media only screen and (min-width: 800px) {
  article {
    background-color: hsl(244deg, 38%, 16%);
    flex-direction: row-reverse;
    max-width: 69.4rem;
    min-width: 50rem;
    min-height: initial;
    height: 28rem;
  }
  article .stats-image {
    max-height: unset;
    flex-basis: 49%;
  }
  article .stats-image picture {
    display: initial;
  }
  article .stats-image img {
    max-height: initial;
  }
  article .card-info {
    flex-basis: 51%;
    padding: 6.3%;
    justify-content: space-between;
  }
  article .card-info h1 {
    font-size: 2.25rem;
  }
  article .card-info .card-stats {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    -moz-column-gap: 14%;
         column-gap: 14%;
    margin-top: 2.4rem;
  }
  article .card-info .card-stats > div {
    margin: 0;
  }
  article .card-info > * {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */