//font import
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Lexend+Deca&display=swap");

//color variables
$mainBG: hsl(233, 47%, 7%);
$cardBG: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$white75: hsla(0, 0%, 100%, 0.75);
$white60: hsla(0, 0%, 100%, 0.6);
$imageOverlay: hsla(277, 100%, 25%, 0.6);
$dropShadow: hsla(0, 0%, 0%, 0.05);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  min-height: 100vh;
  background-color: $mainBG;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
}
article {
  background-color: $cardBG;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 20.375rem;
  min-height: 48.75rem;
  margin: 0.625rem 0.625rem 0 0.625rem;
  box-shadow: 0 1.25rem 0.3125rem 0.625rem $dropShadow;
  .stats-image {
    background-color: $accent;
    picture {
      display: flex;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-height: 15rem;
      mix-blend-mode: multiply;
      opacity: 0.8;
    }
  }
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    padding: 1.875rem;
    h1 {
      font-size: 1.75rem;
      mark {
        background: none;
        color: $accent;
      }
    }
    .card-discription {
      line-height: 1.6rem;
      color: $white75;
    }
    .card-stats {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      > div {
        margin: 1rem 0;
      }
      p {
        margin-top: 0.32rem;
        text-transform: uppercase;
        font-size: 0.75rem;
        color: $white60;
        font-family: "Lexend Deca", sans-serif;
      }
    }
  }
  .card-info > * {
    text-align: center;
  }
}
footer {
  padding: 0.625rem;
  text-align: center;
  font-size: 0.8rem;
  p {
    color: $white60;
    margin-bottom: 0.22rem;
  }
  i {
    font-size: 0.9rem;
  }
  a {
    color: $white60;
  }
  a:hover {
    color: $accent;
    transition: 700ms;
  }
}
@media only screen and (min-width: 800px) {
  article {
    background-color: $cardBG;
    flex-direction: row-reverse;
    max-width: 69.4rem;
    min-width: 50rem;
    min-height: initial;
    height: 28rem;
    .stats-image {
      max-height: unset;
      flex-basis: 49%;
      picture {
        display: initial;
      }
      img {
        max-height: initial;
      }
    }
    .card-info {
      flex-basis: 51%;
      padding: 6.3%;
      justify-content: space-between;
      h1 {
        font-size: 2.25rem;
      }
      .card-stats {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        column-gap: 14%;
        margin-top: 2.4rem;
        > div {
          margin: 0;
        }
      }
    }
    .card-info > * {
      text-align: left;
    }
  }
}
